In [1]:
# !pip install -r requirements.txt

In [2]:
# export GEMINI_API_KEY="AIza..."

In [7]:
from functions.llm.client import build_gemini_client
def _get_thread_client_ctx():
    ctx = getattr(_tls, "client_ctx", None)
    if ctx is None:
        _tls.client_ctx = build_gemini_client(gemini_cfg)
    return _tls.client_ctx

In [8]:
import importlib
import functions.batch.pipeline_1_job_posting_dq_eval as p1
importlib.reload(p1)
p1.run(max_rows=20000, force=False)

2026-01-29 11:38:45 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | Logging configured | silence_client_lv_logs=True
2026-01-29 11:38:45 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | Preprocess: clean CSV -> PSV

✅ Cleaned and converted raw_data/Thailand_global_postings.csv to process_data/Thailand_global_postings.psv
   Total rows: 20000
✅ Cleaned and converted raw_data/Thailand_global_raw.csv to process_data/Thailand_global_raw.psv
   Total rows: 19998

2026-01-29 11:38:47 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | Preprocess: robust string cleaning (postings)

✅ Cleaned and converted raw_data/Thailand_global_skills.csv to process_data/Thailand_global_skills.psv
   Total rows: 119533
====================================================================================================
ROBUST STRING CLEANING
====================================================================================================

✓  ID: No change (20,000 unique)
✓  POSTED: No change (365 unique)
✓  LOT_V7_OCCUPATION_NAME: No change (603 unique)
✓  LOT_V7_SPECIALIZED_OCCUPATION_NAME: No change (1,268 unique)
✓  EXPIRED: No change (367 unique)
✓  ISCED_LEVELS_NAME: No change (21 unique)
✓  COMPANY_NAME: No change (2,663 unique)
✅ COMPANY_RAW: 9,960 → 9,959 (-1, 0.01%)
✓  COMPANY_IS_STAFFING: No change (2 unique)

2026-01-29 11:38:48 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | Preprocess: robust string cleaning (raw_jds)

✓  NAICS2_NAME: No change (21 unique)
✓  EMPLOYMENT_TYPE_NAME: No change (3 unique)
✓  REMOTE_TYPE_NAME: No change (4 unique)
✓  SALARY_TO: No change (811 unique)
✓  SALARY_FROM: No change (801 unique)
✓  ORIGINAL_PAY_PERIOD: No change (5 unique)
✓  NACE_REVISION2_1_NAME: No change (20 unique)
✓  LAA_COUNTRY_NAME: No change (1 unique)
✓  LAA_ADMIN_AREA_1_NAME: No change (1 unique)
✓  LAA_ADMIN_AREA_2_NAME: No change (1 unique)
✓  LAA_METRO_NAME: No change (1 unique)
✓  MAX_YEARS_EXPERIENCE: No change (17 unique)
✓  MIN_YEARS_EXPERIENCE: No change (17 unique)
✓  TITLE_NAME: No change (6,634 unique)

====================================================================================================
Total unique values reduced: 1
====================================================================================================
ROBUST STRING CLEANING
====================================================================================================

✓  ID: No change (19,998 unique)

2026-01-29 11:38:49 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | Preprocess: robust string cleaning (skills)

✅ BODY: 19,769 → 19,764 (-5, 0.03%)
✅ TITLE_RAW: 16,664 → 16,662 (-2, 0.01%)
✓  URL: No change (19,998 unique)

====================================================================================================
Total unique values reduced: 7
====================================================================================================
ROBUST STRING CLEANING
====================================================================================================

✓  ID: No change (6,885 unique)
✓  SKILL_ID: No change (6,745 unique)
✓  SKILL_NAME: No change (6,745 unique)
✓  SKILL_TYPE: No change (3 unique)
✓  SKILL_CATEGORY: No change (31 unique)
✓  SKILL_CATEGORY_NAME: No change (31 unique)
✓  SKILL_SUBCATEGORY: No change (427 unique)

2026-01-29 11:38:50 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | Preprocess: merge raw_jds_df + postings_df (how=right) on ID, select cols
2026-01-29 11:38:50 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: rows=20000 | limit=20000 | progress_log_every=1000 | cache_dir=artifacts/cache | force=False | max_workers=10 | prompt_key=job_posting_dq_eval_v1

✓  SKILL_SUBCATEGORY_NAME: No change (427 unique)
✓  IS_SOFTWARE: No change (2 unique)

====================================================================================================
Total unique values reduced: 0

2026-01-29 11:38:52 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 1/20000 (0.0%)
2026-01-29 11:38:52 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 1000/20000 (5.0%)
2026-01-29 11:38:52 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 2000/20000 (10.0%)
2026-01-29 11:38:52 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 3000/20000 (15.0%)
2026-01-29 11:38:53 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 4000/20000 (20.0%)
2026-01-29 11:38:53 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 5000/20000 (25.0%)
2026-01-29 11:38:53 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 6000/20000 (30.0%)
2026-01-29 11:38:53 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 7000/20000 (35.0%)
2026-01-29 11:38:53 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 8000/20000 (40.0%)
2026-01-29 11:38:53 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 9000/20000 (45.0%)
2026-01-29 11:38:53 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 10000/20000 (50.0%)
2026-01-29 11:38:54 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 11000/20000 (55.0%)
2026-01-29 11:38:54 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 12000/20000 (60.0%)
2026-01-29 11:38:54 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 13000/20000 (65.0%)
2026-01-29 11:38:54 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 14000/20000 (70.0%)
2026-01-29 11:38:54 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 15000/20000 (75.0%)
2026-01-29 11:38:54 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 16000/20000 (80.0%)
2026-01-29 11:38:54 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 17000/20000 (85.0%)
2026-01-29 11:38:55 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 18000/20000 (90.0%)
2026-01-29 11:38:55 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 19000/20000 (95.0%)
2026-01-29 11:39:59 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: progress 20000/20000 (100.0%)
2026-01-29 11:39:59 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: writing JSONL=20000 -> artifacts/reports/job_postings_dq_eval.jsonl
2026-01-29 11:40:00 | INFO | functions.io.writers | Wrote JSONL: artifacts/reports/job_postings_dq_eval.jsonl (rows=20000)
2026-01-29 11:40:00 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: writing CSV rows=20000 -> artifacts/reports/job_postings_dq_eval.csv
2026-01-29 11:40:01 | INFO | functions.batch.pipeline_1_job_posting_dq_eval | DQ Eval: done

In [9]:
import functions.batch.pipeline_2_job_posting_dq_report as p2
importlib.reload(p2)

p2.run(
  input_csv="artifacts/reports/job_postings_dq_eval.csv"
)

/Users/nachai.l/Lightcast_data_exploration/functions/batch/pipeline_2_job_posting_dq_report.py:682: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  is_problem = tmp.applymap(lambda x: x.strip() in ("Unmatch", "Unsure"))

✅ Pipeline 2 complete
- Report MD:                     artifacts/reports/job_posting_dq_report.md
- Report HTML:                   artifacts/reports/job_posting_dq_report.html
- Field summary CSV:             artifacts/reports/job_posting_dq_field_summary.csv
- Overall summary CSV:           artifacts/reports/job_posting_dq_overall_summary.csv
- BODY skills top CSV:           artifacts/reports/job_posting_dq_body_skills_top.csv
- BODY skill count per record:   artifacts/reports/job_posting_dq_body_skill_count_per_record.csv
- BODY skill count summary:      artifacts/reports/job_posting_dq_body_skill_count_summary.csv
- BODY skill count dist:         artifacts/reports/job_posting_dq_body_skill_count_distribution.csv
- Title usability CSV:           artifacts/reports/job_posting_dq_title_usability.csv
- Input completeness CSV:        artifacts/reports/job_posting_input_completeness.csv
- Top reasons CSV:               artifacts/reports/job_posting_dq_top_reasons.csv
- Field reliability CSV:         artifacts/reports/job_posting_dq_field_reliability.csv
- NoData dominance CSV:          artifacts/reports/job_posting_dq_field_nodata_dominance.csv
- Record health CSV:             artifacts/reports/job_posting_dq_record_health.csv
- Record health dist CSV:        artifacts/reports/job_posting_dq_record_health_distribution.csv

# Exploration

In [10]:
import pandas as pd
import re
import functions.core.exploration as explore
import functions.core.ingestions  as ingest
import functions.core.processing  as processing

In [11]:
import functions.core.exploration as explore
import functions.core.ingestions  as ingest
import functions.core.processing  as processing

postings_df = ingest.clean_csv_to_psv_pandas('raw_data/Thailand_global_postings.csv', 'process_data/Thailand_global_postings.psv')
raw_jds_df  = ingest.clean_csv_to_psv_pandas('raw_data/Thailand_global_raw.csv', 'process_data/Thailand_global_raw.psv')
skillss_df  = ingest.clean_csv_to_psv_pandas('raw_data/Thailand_global_skills.csv', 'process_data/Thailand_global_skills.psv')
postings_df, stats = processing.clean_string_columns_robust(postings_df,inplace=True)
raw_jds_df, stats = processing.clean_string_columns_robust(raw_jds_df, inplace=True)
skillss_df, stats = processing.clean_string_columns_robust(skillss_df, inplace=True)
cols = [
    'ID', 'BODY', 'TITLE_RAW', 'TITLE_NAME',  
    'POSTED', 'EXPIRED',
    'COMPANY_NAME', 'COMPANY_RAW', 'COMPANY_IS_STAFFING',
    'EMPLOYMENT_TYPE_NAME', 'REMOTE_TYPE_NAME',
    'LOT_V7_OCCUPATION_NAME','LOT_V7_SPECIALIZED_OCCUPATION_NAME', 
    'ISCED_LEVELS_NAME', 'NAICS2_NAME', 'NACE_REVISION2_1_NAME',
    'SALARY_TO', 'SALARY_FROM', 'ORIGINAL_PAY_PERIOD', 
    'LAA_COUNTRY_NAME', 'LAA_METRO_NAME',
    'LAA_ADMIN_AREA_1_NAME', 'LAA_ADMIN_AREA_2_NAME', 
    'URL',
]
post_w_jd_df = raw_jds_df.merge(postings_df, on = ['ID'], how = 'right')[cols]
json_output = processing.row_to_json(
    post_w_jd_df, 
    1111, 
    exclude_cols=[
        "ID",
        "URL"
    ]
)
print(json_output)

✅ Cleaned and converted raw_data/Thailand_global_postings.csv to process_data/Thailand_global_postings.psv
   Total rows: 20000
✅ Cleaned and converted raw_data/Thailand_global_raw.csv to process_data/Thailand_global_raw.psv
   Total rows: 19998
✅ Cleaned and converted raw_data/Thailand_global_skills.csv to process_data/Thailand_global_skills.psv
   Total rows: 119533
====================================================================================================
ROBUST STRING CLEANING
====================================================================================================

✓  ID: No change (20,000 unique)
✓  POSTED: No change (365 unique)
✓  LOT_V7_OCCUPATION_NAME: No change (603 unique)
✓  LOT_V7_SPECIALIZED_OCCUPATION_NAME: No change (1,268 unique)
✓  EXPIRED: No change (367 unique)
✓  ISCED_LEVELS_NAME: No change (21 unique)
✓  COMPANY_NAME: No change (2,663 unique)
✅ COMPANY_RAW: 9,960 → 9,959 (-1, 0.01%)
✓  COMPANY_IS_STAFFING: No change (2 unique)
✓  NAICS2_NAME: No change (21 unique)
✓  EMPLOYMENT_TYPE_NAME: No change (3 unique)
✓  REMOTE_TYPE_NAME: No change (4 unique)
✓  SALARY_TO: No change (811 unique)
✓  SALARY_FROM: No change (801 unique)
✓  ORIGINAL_PAY_PERIOD: No change (5 unique)
✓  NACE_REVISION2_1_NAME: No change (20 unique)
✓  LAA_COUNTRY_NAME: No change (1 unique)
✓  LAA_ADMIN_AREA_1_NAME: No change (1 unique)
✓  LAA_ADMIN_AREA_2_NAME: No change (1 unique)
✓  LAA_METRO_NAME: No change (1 unique)
✓  MAX_YEARS_EXPERIENCE: No change (17 unique)
✓  MIN_YEARS_EXPERIENCE: No change (17 unique)
✓  TITLE_NAME: No change (6,634 unique)

====================================================================================================
Total unique values reduced: 1
====================================================================================================
ROBUST STRING CLEANING
====================================================================================================

✓  ID: No change (19,998 unique)
✅ BODY: 19,769 → 19,764 (-5, 0.03%)
✅ TITLE_RAW: 16,664 → 16,662 (-2, 0.01%)
✓  URL: No change (19,998 unique)

====================================================================================================
Total unique values reduced: 7
====================================================================================================
ROBUST STRING CLEANING
====================================================================================================

✓  ID: No change (6,885 unique)
✓  SKILL_ID: No change (6,745 unique)
✓  SKILL_NAME: No change (6,745 unique)
✓  SKILL_TYPE: No change (3 unique)
✓  SKILL_CATEGORY: No change (31 unique)
✓  SKILL_CATEGORY_NAME: No change (31 unique)
✓  SKILL_SUBCATEGORY: No change (427 unique)
✓  SKILL_SUBCATEGORY_NAME: No change (427 unique)
✓  IS_SOFTWARE: No change (2 unique)

====================================================================================================
Total unique values reduced: 0
{
  "BODY": "หน้าที่และความรับผิดชอบ 1. ดำเนินการทรัพย์สินใหม่ตามงบประมาณประจำปี และทรัพย์สินระหว่างปี ให้ทันต่อการใช้งาน 2. ประสานติดตามจัดซื้อใบเสนอราคา เช็ค Spec คุณภาพราคางบประมาณตามมาตรฐานที่กำหนด 3. จัดทำคำอธิบาย ในการทำรับทรัพย์สินเพื่อบัญชีออกเลขทรัพย์สิน 4. ดำเนินการ Print ฉลากทรัพย์สินใหม่และเก่าแสดงตัวตนของทรัพย์สิน 5. จัดทำประสานงาน โอนย้าย ยกเลิก งบประมาณ 6. ประสานติดตามการนำส่งทรัพย์สินยังผู้รับปลายทาง 7. จัดทำนำส่งทรัพย์สินเข้าระบบ 8. จัดทำรวบรวมปรับปรุงรายการมาตรฐานทรัพย์สิน/ครุภัณฑ์ 9. จัดทำรวบรวมทรัพย์สินส่วนกลางของบริษัทดำเนินตามแผนงาน 10. จัดทำ DATA ทะเบียนทรัพย์สิน 11. ดำเนินงานตรวจเช็คข้อมูลประวัติ กระทบยอดในระบบ SAP 12. จัดทำข้อมูลรายงาน Weekly /Monthly/Yearly 13. จัดทำทรัพย์สินรถขนส่งบริษัทและทรัพย์สินที่เช่า 14. ดำเนินการปรับปรุงข้อมูลทรัพย์สินเพื่อตรวจสอบและตรวจเช็ค 15. ตรวจนับและตรวจสอบทรัพย์สินประจำไตรมาส R1-R8, TRC1-TRC4, MT, HQ, LRDI, LDS 16. รวบรวมและประสานการแก้ไขปัญระหว่างการตรวจ กับหน่วยงาน IT 17. ดำเนินการตัดขายทรัพย์สินรอกการตัดบัญชี 18. ประสานดำเนินการโอนย้ายทรัพย์สินให้ตรงสถานที่ใช้งานจริง (Plant, Cost Center ฯลฯ) 19. รวบรวมประสานติดตามทรัพย์สินชำรุดมาซ่อมหรือปรับปรุงดัดแปลงมาใช้ใหม่ 20. ทำเอกสารในการดำเนินงานต่างๆ ของทีม คุณสมบัติ 1. ปริญญาตรี สาขาบัญชี บริหาร การจัดการ หรือสาขาอื่นที่เกี่ยวข้อง 2. มีประสบการณ์ด้านบัญชีทรัพย์สินอย่างน้อย 2 ปี 3. มีความสามารถในการสื่อสาร การเจรจา การประสานงานกับหน่วยงาน ภายในและภายนอก 4. มีความละเอียดรอบครอบ สามารถแก้ไขปัญหาในสถาณการณ์ ต่างๆ 5. มีวินัย มีความรับผิดชอบสูง 6. สามารถปรับตัวเข้ากับองค์กรได้ 7. สามารถเดินทางไปปฏิบัติงานต่างจังหวัดได้ 8. ขับรถยนต์ได้/มีใบขับขี่ 9. สามารถใช้งาน MS Office Excel Word Power Point Power Bi และ SAP ได้ดี 10. มีความรู้ทางด้านบัญชีทรัพย์สิน 11. มีมนุษยสัมพันธ์ ทัศนะคติที่ดีในการปฏิบัติงาน 12. มีทักษะในการสื่อสาร ทำงานเป็นทีม ประสานงานอย่างมีประสิทธิภาพ 13. สามารถปรับการทำงานพร้อมทุกสถานการณ์ต่อการเปลี่ยนแปลง ติดต่อสอบถาม คุณเบญจมาศ โทร. 080-079-0035 สำนักทรัพยากรบุคคล บริษัท ไทยเบฟเวอเรจ โลจิสติก จำกัด เลขที่ 62 อาคารไทยเบฟ ควอเตอร์ ชั้น 12 ถนนรัชดาภิเษก แขวงคลองเตย เขตคลองเตย กรุงเทพมหานคร E-mail : [email protected]",
  "TITLE_RAW": "เจ้าหน้าที่ทรัพย์สินและพัสดุ",
  "TITLE_NAME": "Property and Office Managers",
  "POSTED": "2025-11-23",
  "EXPIRED": "",
  "COMPANY_NAME": "Thai Beverage Public Co Ltd",
  "COMPANY_RAW": "Thai Beverage Public Company Limited",
  "COMPANY_IS_STAFFING": "False",
  "EMPLOYMENT_TYPE_NAME": "Full-time (> 32 hours)",
  "REMOTE_TYPE_NAME": "Not Remote",
  "LOT_V7_OCCUPATION_NAME": "Procurement / Sourcing Manager",
  "LOT_V7_SPECIALIZED_OCCUPATION_NAME": "Procurement / Sourcing Manager",
  "ISCED_LEVELS_NAME": "No educatio listed",
  "NAICS2_NAME": "Unclassified Industry",
  "NACE_REVISION2_1_NAME": "INFORMATION AND COMMUNICATION",
  "SALARY_TO": "",
  "SALARY_FROM": "",
  "ORIGINAL_PAY_PERIOD": "",
  "LAA_COUNTRY_NAME": "Thailand",
  "LAA_METRO_NAME": "",
  "LAA_ADMIN_AREA_1_NAME": "",
  "LAA_ADMIN_AREA_2_NAME": ""
}

In [12]:
print(postings_df.columns)
print(postings_df.shape)
postings_df.iloc[:5,:18]

Index(['ID', 'POSTED', 'LOT_V7_OCCUPATION_NAME',
       'LOT_V7_SPECIALIZED_OCCUPATION_NAME', 'EXPIRED', 'ISCED_LEVELS_NAME',
       'COMPANY_NAME', 'COMPANY_RAW', 'COMPANY_IS_STAFFING', 'NAICS2_NAME',
       'EMPLOYMENT_TYPE_NAME', 'REMOTE_TYPE_NAME', 'SALARY_TO', 'SALARY_FROM',
       'ORIGINAL_PAY_PERIOD', 'NACE_REVISION2_1_NAME', 'LAA_COUNTRY_NAME',
       'LAA_ADMIN_AREA_1_NAME', 'LAA_ADMIN_AREA_2_NAME', 'LAA_METRO_NAME',
       'MAX_YEARS_EXPERIENCE', 'MIN_YEARS_EXPERIENCE', 'TITLE_NAME'],
      dtype='object')
(20000, 23)

,ID,POSTED,LOT_V7_OCCUPATION_NAME,LOT_V7_SPECIALIZED_OCCUPATION_NAME,EXPIRED,ISCED_LEVELS_NAME,COMPANY_NAME,COMPANY_RAW,COMPANY_IS_STAFFING,NAICS2_NAME,EMPLOYMENT_TYPE_NAME,REMOTE_TYPE_NAME,SALARY_TO,SALARY_FROM,ORIGINAL_PAY_PERIOD,NACE_REVISION2_1_NAME,LAA_COUNTRY_NAME,LAA_ADMIN_AREA_1_NAME
0,4c8ac82d16195d0e4402b1b9665da423e630da62,2025-11-19,Director of Instruction,Director of Instruction,2026-01-18,Bachelor's or equivalet level,Nord Anglia Education,Nord Anglia Education,False,Unclassified Industry,Full-time (> 32 hours),,,,,,Thailand,
1,ef8af3e1a8f0402929855b13768e6866efded6be,2025-11-19,Customer Service Representative,Customer Service Representative (General),2026-01-18,No educatio listed,Unclassified,"Phyathai 2 Hospital Co., Ltd.",False,Unclassified Industry,Full-time (> 32 hours),,,,,,Thailand,
2,8663f3526dd41bef172a690e6e4b88600ceea766,2025-11-19,Accounting Supervisor,Accounting Supervisor,2026-01-18,No educatio listed,Unclassified,"ETERNITY ADVANTECH CO., LTD.",False,Unclassified Industry,Full-time (> 32 hours),,,,,,Thailand,
3,dbc3dfca1ada7fa60d50716ebed941bd34cf124b,2025-11-19,Marketing Specialist,Digital Marketing Specialist,2026-01-18,No educatio listed,GMM Grammy Public Company Limited,GMM Grammy Public Company Limited,False,Unclassified Industry,Full-time (> 32 hours),,,,,INFORMATION AND COMMUNICATION,Thailand,
4,e6cb939f9231a09a6f34f7d57e5a70599f670ad9,2025-11-19,Account Executive,Account Executive (General),2026-01-18,Bachelor's or equivalet level,Gemini Personnel,Gemini Personnel,False,Unclassified Industry,Full-time (> 32 hours),,,,,,Thailand,

In [13]:
print(raw_jds_df.columns)
print(raw_jds_df.shape)
raw_jds_df.iloc[:5,:]

Index(['ID', 'BODY', 'TITLE_RAW', 'URL'], dtype='object')
(19998, 4)

,ID,BODY,TITLE_RAW,URL
0,ab1c7a2f58cb49669b362cc24aa705b04a058b10,1.ควบคุมการดูแลงานด้านความปลอดภัยทั้งหมด 2.ปฎิ...,Safety Supervisor (หัวหน้างานความปลอดภัย),https://th.jobsdb.com/job/88961892?origin=card...
1,d8f8034d8d4ac2f2dea73c5bf1b5801b22e076eb,ร่วมวางแผนกับทีมผู้บริหาร เพื่อรับนโยบายด้านกา...,ผู้ช่วยผู้จัดการฝ่ายทรัพยากรมนุษย์,https://th.jobsdb.com/job/88948007?origin=card...
2,67c1c68936ff17c4e5a8c7a9298ab2f6ec9a1780,เตรียมเอกสาร ตรวจสอบความถูกต้อง และจัดทำสัญญา ...,เจ้าหน้าที่ธุรการ (ฝ่ายพัฒนาธุรกิจและการตลาด),https://th.jobsdb.com/job/88937520?origin=card...
3,0c92fe0b553af05bd80f4945ed41e942fffa3503,ตำแหน่ง Sales Representative ธุรกิจร้านสะดวกซั...,Sales Representative (Laundromat Franchise),https://th.jobsdb.com/job/88933746?origin=card...
4,affb8cb9d16a28b8e236000e10c13a18e94acec6,ตำแหน่งงาน: ตัวแทนขายหนังสือเรียน สถานที่: สุร...,Sales Executive/พนักงานขาย,https://th.jobsdb.com/job/88936367?origin=card...

In [14]:
print(skillss_df.columns)
print(skillss_df.shape)
skillss_df.iloc[:3,:]

Index(['ID', 'SKILL_ID', 'SKILL_NAME', 'SKILL_TYPE', 'SKILL_CATEGORY',
       'SKILL_CATEGORY_NAME', 'SKILL_SUBCATEGORY', 'SKILL_SUBCATEGORY_NAME',
       'IS_SOFTWARE'],
      dtype='object')
(119533, 9)

,ID,SKILL_ID,SKILL_NAME,SKILL_TYPE,SKILL_CATEGORY,SKILL_CATEGORY_NAME,SKILL_SUBCATEGORY,SKILL_SUBCATEGORY_NAME,IS_SOFTWARE
0,f8c9d4f45573839066802752fec1654f14d29f18,ES39E5C01E1593CE9E72,Operational Efficiency,Specialized Skill,5,Business,162,Process Improvement and Optimization,False
1,f8c9d4f45573839066802752fec1654f14d29f18,KS122556LMQ829GZCCRV,Communication,Common Skill,23,Media and Communications,576,Communication,False
2,0c336251a1e1aa214f96bafe8ec7c7f8b824749e,KS122556LMQ829GZCCRV,Communication,Common Skill,23,Media and Communications,576,Communication,False

In [15]:
processed_skillss_df = skillss_df.iloc[:,1:].copy().drop_duplicates()
print(processed_skillss_df.columns)
print(processed_skillss_df.shape)
processed_skillss_df.iloc[:3,:]

Index(['SKILL_ID', 'SKILL_NAME', 'SKILL_TYPE', 'SKILL_CATEGORY',
       'SKILL_CATEGORY_NAME', 'SKILL_SUBCATEGORY', 'SKILL_SUBCATEGORY_NAME',
       'IS_SOFTWARE'],
      dtype='object')
(6745, 8)

,SKILL_ID,SKILL_NAME,SKILL_TYPE,SKILL_CATEGORY,SKILL_CATEGORY_NAME,SKILL_SUBCATEGORY,SKILL_SUBCATEGORY_NAME,IS_SOFTWARE
0,ES39E5C01E1593CE9E72,Operational Efficiency,Specialized Skill,5,Business,162,Process Improvement and Optimization,False
1,KS122556LMQ829GZCCRV,Communication,Common Skill,23,Media and Communications,576,Communication,False
3,KS125DM72D0FYK043X4N,ISO 50001 Standard,Specialized Skill,10,Energy and Utilities,198,Energy Management,False

In [16]:
print(post_w_jd_df.shape)
post_w_jd_df.iloc[:3,0:]

(20000, 24)

,ID,BODY,TITLE_RAW,TITLE_NAME,POSTED,EXPIRED,COMPANY_NAME,COMPANY_RAW,COMPANY_IS_STAFFING,EMPLOYMENT_TYPE_NAME,...,NAICS2_NAME,NACE_REVISION2_1_NAME,SALARY_TO,SALARY_FROM,ORIGINAL_PAY_PERIOD,LAA_COUNTRY_NAME,LAA_METRO_NAME,LAA_ADMIN_AREA_1_NAME,LAA_ADMIN_AREA_2_NAME,URL
0,4c8ac82d16195d0e4402b1b9665da423e630da62,Primary School Year Leader 3.1 3.1 out of 5 st...,Primary School Year Leader,Primary School Teachers,2025-11-19,2026-01-18,Nord Anglia Education,Nord Anglia Education,False,Full-time (> 32 hours),...,Unclassified Industry,,,,,Thailand,,,,https://th.indeed.com/m/viewjob?jk=184f2492a06...
1,ef8af3e1a8f0402929855b13768e6866efded6be,หน้าที่ วางแผน ควบคุมและกำกับงานบริการลูกค้าให...,หัวหน้าหน่วยลูกค้าสัมพันธ์ (รพ.พญาไท บ่อวิน),Lead Hospitalists,2025-11-19,2026-01-18,Unclassified,"Phyathai 2 Hospital Co., Ltd.",False,Full-time (> 32 hours),...,Unclassified Industry,,,,,Thailand,,,,https://th.jobsdb.com/job/88597835?origin=card...
2,8663f3526dd41bef172a690e6e4b88600ceea766,หน้าที่และความรับผิดชอบ บันทึกบัญชีรายวันทั่วไ...,Accounting Officer,Accounting Officers,2025-11-19,2026-01-18,Unclassified,"ETERNITY ADVANTECH CO., LTD.",False,Full-time (> 32 hours),...,Unclassified Industry,,,,,Thailand,,,,https://th.jobsdb.com/job/88623480?origin=card...

In [17]:
post_w_jd_df.describe().iloc[:5,:10]

,ID,BODY,TITLE_RAW,TITLE_NAME,POSTED,EXPIRED,COMPANY_NAME,COMPANY_RAW,COMPANY_IS_STAFFING,EMPLOYMENT_TYPE_NAME
count,20000,19998,19998,20000,20000,20000,20000,20000,20000,20000
unique,20000,19764,16662,6634,365,367,2663,9959,2,3
top,4c8ac82d16195d0e4402b1b9665da423e630da62,Job Purposes Key Roles and Responsibilities Qu...,เจ้าหน้าที่บัญชี,Unclassified,2025-09-08,,Unclassified,"Marriott International, Inc",False,Full-time (> 32 hours)
freq,1,22,76,1026,415,2885,11220,606,19780,19739

In [18]:
# Data format issue (confimed in source file Thailand_global_raw.csv
# "าน เจ้าหน้าที่ทรัพยากรบุคคล (BBGI-โรงงานกาญจน.."
# "าน เจ้าหน้าที่แมสเซนเจอร์ & ขับรถยนต์ส่งลูกค้..."

In [19]:
# Usage
print(f"DataFrame shape: {post_w_jd_df.shape}\n")
missing_analysis = explore.analyze_missing_data_detailed(post_w_jd_df)

DataFrame shape: (20000, 24)

================================================================================
MISSING DATA ANALYSIS
================================================================================
Total Rows: 20,000
Total Columns: 24

                            Column  Null/NA  Empty  Unclassified  Total Missing  Valid Percent_Missing Percent_w_Data
             LAA_ADMIN_AREA_2_NAME        0  20000             0          20000      0         100.00%          0.00%
             LAA_ADMIN_AREA_1_NAME        0  20000             0          20000      0         100.00%          0.00%
                    LAA_METRO_NAME        0  20000             0          20000      0         100.00%          0.00%
                  REMOTE_TYPE_NAME        0  17484             0          17484   2516          87.42%         12.58%
                         SALARY_TO        0  16632             0          16632   3368          83.16%         16.84%
               ORIGINAL_PAY_PERIOD        0  16632             0          16632   3368          83.16%         16.84%
                       SALARY_FROM        0  16632             0          16632   3368          83.16%         16.84%
             NACE_REVISION2_1_NAME        0  15802             0          15802   4198          79.01%         20.99%
                      COMPANY_NAME        0      0         11220          11220   8780          56.10%         43.90%
                           EXPIRED        0   2885             0           2885  17115          14.42%         85.58%
                        TITLE_NAME        0      0          1026           1026  18974           5.13%         94.87%
                       COMPANY_RAW        0    500             0            500  19500           2.50%         97.50%
                         TITLE_RAW        2      4             0              6  19994           0.03%         99.97%
                              BODY        2      2             0              4  19996           0.02%         99.98%
                               URL        2      0             0              2  19998           0.01%         99.99%
                  LAA_COUNTRY_NAME        0      0             0              0  20000           0.00%        100.00%
                                ID        0      0             0              0  20000           0.00%        100.00%
                       NAICS2_NAME        0      0             0              0  20000           0.00%        100.00%
                 ISCED_LEVELS_NAME        0      0             0              0  20000           0.00%        100.00%
            LOT_V7_OCCUPATION_NAME        0      0             0              0  20000           0.00%        100.00%
              EMPLOYMENT_TYPE_NAME        0      0             0              0  20000           0.00%        100.00%
               COMPANY_IS_STAFFING        0      0             0              0  20000           0.00%        100.00%
                            POSTED        0      0             0              0  20000           0.00%        100.00%
LOT_V7_SPECIALIZED_OCCUPATION_NAME        0      0             0              0  20000           0.00%        100.00%

================================================================================
SUMMARY
================================================================================

🔴 Top 5 columns with most missing data:
   LAA_ADMIN_AREA_2_NAME: 20,000 (100.00%)
   LAA_ADMIN_AREA_1_NAME: 20,000 (100.00%)
   LAA_METRO_NAME: 20,000 (100.00%)
   REMOTE_TYPE_NAME: 17,484 (87.42%)
   SALARY_TO: 16,632 (83.16%)

✅ Top 5 columns with best data quality:
   LAA_COUNTRY_NAME: 20,000 (100.00%)
   ID: 20,000 (100.00%)
   NAICS2_NAME: 20,000 (100.00%)
   ISCED_LEVELS_NAME: 20,000 (100.00%)
   LOT_V7_OCCUPATION_NAME: 20,000 (100.00%)

✨ Columns with 100% valid data: 9
   LAA_COUNTRY_NAME, ID, NAICS2_NAME, ISCED_LEVELS_NAME, LOT_V7_OCCUPATION_NAME, EMPLOYMENT_TYPE_NAME, COMPANY_IS_STAFFING, POSTED, LOT_V7_SPECIALIZED_OCCUPATION_NAME

📊 Overall Statistics:
   Total cells: 480,000
   Missing cells: 158,825 (33.09%)
   Valid cells: 321,175 (66.91%)

In [20]:
results = explore.analyze_top_values_table(post_w_jd_df, top_n=20, max_value_width=75)

========================================================================================================================
TOP 20 VALUES ANALYSIS (+ Others)
========================================================================================================================
Total Rows: 20,000


────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
📊 Column: BODY
   Total Unique Values: 19,765
────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Rank    Count Percentage  Value
   1       22      0.11%  Job Purposes Key Roles and Responsibilities Qualifications Additional Infor
   2       19      0.10%  าน เจ้าหน้าที่ธุรการ รับสมัครด่วน สถานที่ปฏิบัติงาน : กรุงเทพมหานคร(เขตจตุจ
   3       15      0.07%  TH EN เข้าสู่ระบบ ผู้าน ผู้ประกอบการ สมัครสมาชิก หน้าแรก ค้นด่วน ค้น งานกรุ
   4       10      0.05%  าน ช่างซ่อมบำรุง รับสมัครด่วน สถานที่ปฏิบัติงาน : สมุทรปราการ(บางพลี,บางเสา
   5        8      0.04%  าน เจ้าหน้าที่ทรัพยากรบุคคล (ส่วนงานเงินเดือนและค่าตอบแทน) รับสมัครด่วน สถา
   6        8      0.04%  าน พนักงานแอดมิน รับสมัครด่วน สถานที่ปฏิบัติงาน : สมุทรปราการ(เมืองสมุทรปรา
   7        8      0.04%  เสียงของคุณจะช่วยสนับสนุนการเติบโตของแบรนด์ที่คุณชื่นชอบ! MS&Consulting (MS
   8        7      0.03%  POSITION SUMMARY - F&B and Event Service Expert Our jobs aren't just about
   9        6      0.03%  マリオットインターナショナルでは、機会均等の雇用主として、すべての人を歓迎し、機会を提供するよう努めています。アソシエイトひとり一人のバックグラウンド
  10        6      0.03%  าน Outbound Call Center (สัญญาจ้าง 6 เดือน) รับสมัครด่วน สถานที่ปฏิบัติงาน
  11        5      0.03%  POSITION SUMMARY Contact appropriate individual or department (e.g., Sales,
  12        5      0.03%  POSITION SUMMARY Our jobs aren't just about giving guests a smooth check-in
  13        4      0.02%  TH EN เข้าสู่ระบบ ผู้าน ผู้ประกอบการ สมัครสมาชิก หน้าแรก ค้นด่วน ค้น งานกรุ
  14        4      0.02%  การจ้างงาน full-time ไม่ระบุ รับผิดชอบในตำแหน่งงาน และทำงานให้บรรลุเป้าหมาย
  15        4      0.02%  าน ช่างไฟฟ้า ช่างซ่อมบำรุง (ประจำ : MRTลุมพินี ศาลาแดง) รับสมัครด่วน สถานที
  16        4      0.02%  าน พนักงานขายเครื่องมือแพทย์ภาคอีสานตอนล่าง (ฐานลูกค้ารพ.) รับสมัครด่วน สถา
  17        4      0.02%  POSITION SUMMARY Prepare special meals or substitute items. Regulate temper
  18        4      0.02%  POSITION SUMMARY Prepare ingredients for cooking, including portioning, cho
  19        4      0.02%  Business Development/Sr. Business Development - Chinese speaking/ Chinese N
  20        3      0.01%  ที่แมริออท อินเตอร์เนชั่นแนล เรามุ่งมั่นทุ่มเทในการเป็นนายจ้างผู้มอบโอกาสที
   *   19,850     99.25%  [Others - 19,745 unique values]

   📈 Top 20 coverage: 0.75%
   📊 Others coverage: 99.25%

────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
📊 Column: TITLE_RAW
   Total Unique Values: 16,663
────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Rank    Count Percentage  Value
   1       76      0.38%  เจ้าหน้าที่บัญชี
   2       73      0.36%  พนักงานบัญชี
   3       54      0.27%  พนักงานขาย
   4       37      0.18%  เจ้าหน้าที่จัดซื้อ
   5       34      0.17%  เจ้าหน้าที่คลังสินค้า
   6       31      0.15%  พนักงานขับรถ
   7       31      0.15%  ช่างซ่อมบำรุง
   8       30      0.15%  Graphic Designer
   9       30      0.15%  เจ้าหน้าที่ธุรการ
  10       29      0.14%  Sales Executive
  11       29      0.14%  แม่บ้าน
  12       27      0.14%  Content Creator
  13       27      0.14%  ช่างไฟฟ้า
  14       25      0.12%  IT Support
  15       25      0.12%  Sales Manager
  16       25      0.12%  ธุรการบัญชี
  17       23      0.11%  พนักงานคลังสินค้า
  18       22      0.11%  วิศวกรไฟฟ้า
  19       22      0.11%  เจ้าหน้าที่การเงิน
  20       21      0.10%  โฟร์แมน
   *   19,329     96.65%  [Others - 16,643 unique values]

   📈 Top 20 coverage: 3.36%
   📊 Others coverage: 96.65%

────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
📊 Column: TITLE_NAME
   Total Unique Values: 6,634
────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Rank    Count Percentage  Value
   1    1,026      5.13%  Unclassified
   2      246      1.23%  Sales Representatives
   3      221      1.10%  Administrative Officers
   4      180      0.90%  Accountants
   5      138      0.69%  Sales Executives
   6      128      0.64%  Accounting Clerks
   7      121      0.60%  Human Resources Officers
   8      112      0.56%  Procurement Officers
   9       99      0.50%  Housekeepers
  10       97      0.48%  Maintenance Technicians
  11       78      0.39%  Sales Managers
  12       76      0.38%  Graphic Designers
  13       75      0.38%  Marketing/Office Managers
  14       75      0.38%  Warehouse Clerks
  15       72      0.36%  Technicians
  16       71      0.36%  Purchasing Officers
  17       70      0.35%  Branch Managers
  18       70      0.35%  Accounting and Finance Managers
  19       66      0.33%  Warehouse Office Assistants
  20       64      0.32%  Receptionists
   *   16,915     84.58%  [Others - 6,614 unique values]

   📈 Top 20 coverage: 15.43%
   📊 Others coverage: 84.58%

────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
📊 Column: POSTED
   Total Unique Values: 365
────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Rank    Count Percentage  Value
   1      415      2.08%  2025-09-08
   2      402      2.01%  2025-09-04
   3      377      1.88%  2025-09-15
   4      353      1.76%  2025-01-11
   5      276      1.38%  2025-11-05
   6      239      1.20%  2025-11-14
   7      218      1.09%  2025-12-03
   8      180      0.90%  2025-03-19
   9      180      0.90%  2025-10-25
  10      173      0.86%  2025-11-25
  11      160      0.80%  2025-10-29
  12      159      0.80%  2025-06-19
  13      157      0.78%  2025-02-11
  14      156      0.78%  2025-01-31
  15      151      0.76%  2025-03-21
  16      151      0.76%  2025-12-19
  17      149      0.74%  2025-11-27
  18      142      0.71%  2025-07-02
  19      136      0.68%  2025-11-18
  20      135      0.68%  2025-11-28
   *   15,691     78.45%  [Others - 345 unique values]

   📈 Top 20 coverage: 21.55%
   📊 Others coverage: 78.45%

────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
📊 Column: EXPIRED
   Total Unique Values: 367
────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Rank    Count Percentage  Value
   1    2,885     14.42%  [Empty String]
   2      373      1.86%  2025-03-12
   3      270      1.35%  2025-11-03
   4      255      1.27%  2025-10-04
   5      233      1.17%  2026-01-04
   6      232      1.16%  2026-01-13
   7      181      0.91%  2025-12-28
   8      178      0.89%  2025-05-18
   9      151      0.76%  2025-08-18
  10      120      0.60%  2026-01-18
  11      118      0.59%  2025-08-06
  12      109      0.55%  2025-12-24
  13      109      0.55%  2025-11-14
  14      108      0.54%  2025-11-07
  15      108      0.54%  2026-01-08
  16      103      0.52%  2025-04-12
  17      102      0.51%  2025-10-12
  18       99      0.50%  2025-10-08
  19       99      0.50%  2025-05-21
  20       90      0.45%  2025-05-20
   *   14,077     70.38%  [Others - 347 unique values]

   📈 Top 20 coverage: 29.62%
   📊 Others coverage: 70.38%

────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
📊 Column: COMPANY_NAME
   Total Unique Values: 2,663
────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Rank    Count Percentage  Value
   1   11,220     56.10%  Unclassified
   2      810      4.05%  Marriott International
   3      101      0.51%  Prtr
   4       99      0.50%  Minor International
   5       74      0.37%  CP Axtra
   6       65      0.33%  Thai Beverage Pcl (T6W)
   7       63      0.32%  Unilever
   8       62      0.31%  Robert Walters
   9       61      0.30%  Agoda
  10       60      0.30%  Seagate Technology
  11       54      0.27%  Scg
  12       53      0.27%  United Nations
  13       52      0.26%  Shopee
  14       51      0.26%  Tiktok
  15       50      0.25%  Accor Group
  16       50      0.25%  Bosch
  17       47      0.24%  Celestica
  18       46      0.23%  Arigato Boat
  19       46      0.23%  Allianz
  20       45      0.22%  Hilton
   *    6,891     34.46%  [Others - 2,643 unique values]

   📈 Top 20 coverage: 65.55%
   📊 Others coverage: 34.46%

────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
📊 Column: COMPANY_RAW
   Total Unique Values: 9,959
────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Rank    Count Percentage  Value
   1      606      3.03%  Marriott International, Inc
   2      500      2.50%  [Empty String]
   3      133      0.66%  บริษัท บอส เอ้าท์ซอร์สซิ่ง เซอร์วิส จำกัด
   4      132      0.66%  ดูรายละเอียดบริษัท
   5      101      0.51%  PRTR
   6       99      0.50%  Minor International
   7       90      0.45%  บริษัท บิ๊กซี ซูเปอร์เซ็นเตอร์ จำกัด (มหาชน)
   8       78      0.39%  PRTR Group Public Company Limited
   9       77      0.39%  บริษัท ไมเนอร์ อินเตอร์เนชั่นแนล จำกัด (มหาชน)
  10       76      0.38%  MARRIOTT INTERNATIONAL, INC.
  11       71      0.36%  บริษัท เซ็นทรัล เรสตอรองส์ กรุ๊ป จำกัด
  12       65      0.33%  Thai Beverage PCL
  13       62      0.31%  Robert Walters
  14       59      0.29%  Marriott
  15       55      0.27%  Private Advertiser
  16       55      0.27%  PERSOL Thailand
  17       54      0.27%  บริษัท พีทีจี เอ็นเนอยี จำกัด (มหาชน)
  18       54      0.27%  SCG
  19       52      0.26%  Seagate Technology
  20       47      0.24%  Marriott International
   *   17,534     87.67%  [Others - 9,939 unique values]

   📈 Top 20 coverage: 12.33%
   📊 Others coverage: 87.67%

────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
📊 Column: COMPANY_IS_STAFFING
   Total Unique Values: 2
────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Rank    Count Percentage  Value
   1   19,780     98.90%  False
   2      220      1.10%  True

   📈 Top 20 coverage: 100.00%
   📊 Others coverage: 0.00%

────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
📊 Column: EMPLOYMENT_TYPE_NAME
   Total Unique Values: 3
────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Rank    Count Percentage  Value
   1   19,739     98.69%  Full-time (> 32 hours)
   2      206      1.03%  Part-time (≤ 32 hours)
   3       55      0.27%  Part-time / full-time

   📈 Top 20 coverage: 100.00%
   📊 Others coverage: 0.00%

────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
📊 Column: REMOTE_TYPE_NAME
   Total Unique Values: 4
────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Rank    Count Percentage  Value
   1   17,484     87.42%  [Empty String]
   2    1,533      7.66%  Not Remote
   3      607      3.03%  Hybrid Remote
   4      376      1.88%  Remote

   📈 Top 20 coverage: 100.00%
   📊 Others coverage: 0.00%

────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
📊 Column: LOT_V7_OCCUPATION_NAME
   Total Unique Values: 603
────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Rank    Count Percentage  Value
   1    1,527      7.63%  Unclassified Occupation
   2    1,048      5.24%  Office / Administrative Assistant
   3      966      4.83%  Sales Representative
   4      845      4.23%  Retail Sales Associate
   5      522      2.61%  Marketing Specialist
   6      502      2.51%  Customer Service Representative
   7      333      1.67%  Business Development / Sales Manager
   8      293      1.47%  Bookkeeper / Accounting Clerk
   9      267      1.33%  Accountant
  10      248      1.24%  Building and General Maintenance Technician
  11      247      1.23%  Software Developer / Engineer
  12      242      1.21%  Account Executive
  13      228      1.14%  Buyer / Purchasing Agent
  14      225      1.12%  Financial Manager
  15      224      1.12%  Human Resources / Labor Relations Specialist
  16      224      1.12%  Sales Engineer
  17      199      1.00%  Chef
  18      199      1.00%  Computer Support Specialist
  19      186      0.93%  Account Manager / Representative
  20      178      0.89%  Warehouse Worker
   *   11,297     56.48%  [Others - 583 unique values]

   📈 Top 20 coverage: 43.52%
   📊 Others coverage: 56.48%

────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
📊 Column: LOT_V7_SPECIALIZED_OCCUPATION_NAME
   Total Unique Values: 1,268
────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Rank    Count Percentage  Value
   1    1,527      7.63%  Unclassified Specialized Occupation
   2      733      3.67%  Retail Sales Associate (General)
   3      669      3.35%  Sales Representative (General)
   4      563      2.81%  Office / Administrative Assistant (General)
   5      443      2.21%  Customer Service Representative (General)
   6      365      1.82%  Administrative Clerk / Coordinator
   7      248      1.24%  Building and General Maintenance Technician
   8      228      1.14%  Accountant (General)
   9      227      1.14%  Marketing Specialist (General)
  10      222      1.11%  Account Executive (General)
  11      192      0.96%  Sales Engineer (General)
  12      178      0.89%  Warehouse Worker
  13      175      0.88%  Restaurant / Food Service Manager
  14      163      0.81%  Maid / Housekeeping Staff
  15      160      0.80%  Accounting Clerk
  16      159      0.80%  Graphic Designer
  17      158      0.79%  Production Worker
  18      133      0.66%  Accounts Payable / Receivable Clerk
  19      131      0.66%  Human Resources Generalist
  20      128      0.64%  Waiter / Waitress
   *   13,198     65.99%  [Others - 1,248 unique values]

   📈 Top 20 coverage: 34.01%
   📊 Others coverage: 65.99%

────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
📊 Column: ISCED_LEVELS_NAME
   Total Unique Values: 21
────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Rank    Count Percentage  Value
   1   17,248     86.24%  No educatio listed
   2    1,001      5.00%  Bachelor's or equivalet level
   3      911      4.55%  Master's or equivalet level
   4      379      1.90%  Lower secodary educatio, Upper secodary educatio
   5      134      0.67%  Bachelor's or equivalet level, Master's or equivalet level
   6       78      0.39%  Upper secodary educatio
   7       71      0.36%  Short-cycle tertiary educatio
   8       63      0.32%  Lower secodary educatio, Upper secodary educatio, Short-cycle tertiary educ
   9       39      0.19%  Master's or equivalet level, Doctoral or equivalet level
  10       14      0.07%  Upper secodary educatio, Short-cycle tertiary educatio
  11       12      0.06%  Upper secodary educatio, Bachelor's or equivalet level
  12       10      0.05%  Lower secodary educatio, Upper secodary educatio, Master's or equivalet lev
  13        9      0.04%  Doctoral or equivalet level
  14        8      0.04%  Upper secodary educatio, Master's or equivalet level
  15        6      0.03%  Short-cycle tertiary educatio, Bachelor's or equivalet level
  16        6      0.03%  Bachelor's or equivalet level, Master's or equivalet level, Doctoral or equ
  17        3      0.01%  Upper secodary educatio, Short-cycle tertiary educatio, Bachelor's or equiv
  18        2      0.01%  Bachelor's or equivalet level, Doctoral or equivalet level
  19        2      0.01%  Short-cycle tertiary educatio, Master's or equivalet level
  20        2      0.01%  Short-cycle tertiary educatio, Bachelor's or equivalet level, Master's or e
   *        2      0.01%  [Others - 1 unique values]

   📈 Top 20 coverage: 99.99%
   📊 Others coverage: 0.01%

────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
📊 Column: NAICS2_NAME
   Total Unique Values: 21
────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Rank    Count Percentage  Value
   1   15,833     79.16%  Unclassified Industry
   2    1,057      5.29%  Accommodation and Food Services
   3      910      4.55%  Manufacturing
   4      438      2.19%  Professional, Scientific, and Technical Services
   5      308      1.54%  Administrative and Support and Waste Management and Remediation Services
   6      227      1.14%  Finance and Insurance
   7      213      1.06%  Retail Trade
   8      199      1.00%  Wholesale Trade
   9      166      0.83%  Information
  10      138      0.69%  Transportation and Warehousing
  11      106      0.53%  Other Services (except Public Administration)
  12      104      0.52%  Real Estate and Rental and Leasing
  13       98      0.49%  Health Care and Social Assistance
  14       68      0.34%  Mining, Quarrying, and Oil and Gas Extraction
  15       50      0.25%  Construction
  16       36      0.18%  Educational Services
  17       15      0.07%  Agriculture, Forestry, Fishing and Hunting
  18       14      0.07%  Arts, Entertainment, and Recreation
  19       11      0.06%  Management of Companies and Enterprises
  20        6      0.03%  Utilities
   *        3      0.01%  [Others - 1 unique values]

   📈 Top 20 coverage: 99.98%
   📊 Others coverage: 0.01%

────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
📊 Column: NACE_REVISION2_1_NAME
   Total Unique Values: 20
────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Rank    Count Percentage  Value
   1   15,802     79.01%  [Empty String]
   2    1,202      6.01%  INFORMATION AND COMMUNICATION
   3      892      4.46%  PROFESSIONAL, SCIENTIFIC AND TECHNICAL ACTIVITIES
   4      569      2.84%  WHOLESALE AND RETAIL TRADE; REPAIR OF MOTOR VEHICLES AND MOTORCYCLES
   5      478      2.39%  MANUFACTURING
   6      249      1.24%  ADMINISTRATIVE AND SUPPORT SERVICE ACTIVITIES
   7      196      0.98%  FINANCIAL AND INSURANCE ACTIVITIES
   8      111      0.56%  ARTS, ENTERTAINMENT AND RECREATION
   9       99      0.50%  REAL ESTATE ACTIVITIES
  10       84      0.42%  ACCOMMODATION AND FOOD SERVICE ACTIVITIES
  11       57      0.29%  TRANSPORTATION AND STORAGE
  12       57      0.29%  ELECTRICITY, GAS, STEAM AND AIR CONDITIONING SUPPLY
  13       53      0.27%  HUMAN HEALTH AND SOCIAL WORK ACTIVITIES
  14       50      0.25%  AGRICULTURE, FORESTRY AND FISHING
  15       28      0.14%  EDUCATION
  16       26      0.13%  CONSTRUCTION
  17       20      0.10%  OTHER SERVICE ACTIVITIES
  18       12      0.06%  WATER SUPPLY; SEWERAGE, WASTE MANAGEMENT AND REMEDIATION ACTIVITIES

# Exploration on a specific case

In [21]:
import functions.core.processing  as processing
json_output = processing.row_to_json(
    post_w_jd_df, 
    200,
    exclude_cols=[
        "URL"
    ]
)
print(json_output)

{
  "ID": "065e653568b6306186b5444f1c47bd2d8ad74296",
  "BODY": "About our group: We are a dynamic engineering team at the Seagate Korat Slider Factory, driving innovation in process development to support next-generation storage products. We are looking for a passionate and skilled engineer to lead the development of New Cleaning System tailored for new optimized form factor products. This role is critical in ensuring surface quality, cleanliness performance and equipment readiness to meet the stringent demands of next-gen manufacturing.About the role - you will: Lead the design and development of cleaning processes and equipment tooling specifically tailored for handling and processing miniaturized or new form factor components. Define cleaning requirements, methods (e.g., ultrasonic, brush, chemical, DI water), and tooling strategies based on product design and contamination control specifications. Collaborate with suppliers and internal equipment teams to develop or modify cleaning platforms and tooling interfaces to support form factor transitions. Validate cleaning performance through DOE, surface analysis, and particle/contamination testing using techniques like optical, AFM and SEM inspection. Conduct root cause analysis and implement improvements for cleaning-related defects or process instability. Document process specifications, operating procedures, and qualification protocols for cross-functional alignment. About you: Bachelor's or Higher degree in Mechanical, or a related Engineering discipline. Strong knowledge of cleaning process fundamentals, contamination control, and mechanical tooling design. Experience in high-precision or high-purity manufacturing environments (e.g., semiconductor, hard disk, electronics). Proficient in CAD tools for tooling design (e.g., SolidWorks) and experienced with cleaning equipment platforms. Understanding of AI/ML applications in manufacturing, such as process optimization, especially in cleaning or defect reduction processes. Experience working with data analytics platforms or machine learning tools (e.g., Python, MATLAB, JMP, or TensorFlow) is a plus. Familiarity with fluid dynamics, brushing, ultrasonic cleaning, chemical compatibility, and surface preparation techniques. Excellent analytical and troubleshooting skills using data-driven approaches. Capable of leading projects independently and collaborating across engineering, manufacturing, and quality teams. Effective in communicating technical details and driving project milestones. Your experience includes: Hands-on experience with cleaning systems and tooling for miniature or fragile components. Familiarity with surface cleanliness metrology tools and statistical process control. Location: Korat, Thailand Our Korat facility is our largest manufacturing site worldwide, with more than 10,000 employees. Here, our team produces cloud-based storage equipment, from individual storage components to finished drives. Employees enjoy ample on-site parking, free shuttle vans and buses within the city of Korat, as well as transportation to and from Bangkok and Khon Kaen province on weekends. At work, you can grab a delicious breakfast, lunch, dinner, or snacks at one of our 24/7 on-site canteens or coffee shops. We offer table tennis, basketball, volleyball, a running/walking trail, and exercise classes in our on-site fitness center. In addition, there are relaxing spaces with comfortable seating both indoors and outdoors, perfect for taking a break during the day. Additionally, consider joining any of our employee resource groups (ERGs), such as Seagate Women in Leadership Network (SWLN), Seagate PRIDE: Thailand chapter, or Seagate Asia's parents and caregivers group. We also have many on-site recreation events and opportunities to give back to the local community. Location: Korat Thailand Travel: None",
  "TITLE_RAW": "Senior Engineer, Slider Process Technology Development, New Cleaning Process",
  "TITLE_NAME": "Process Technology Development Engineers",
  "POSTED": "2025-08-07",
  "EXPIRED": "2025-10-08",
  "COMPANY_NAME": "Seagate Technology",
  "COMPANY_RAW": "Seagate Technology",
  "COMPANY_IS_STAFFING": "False",
  "EMPLOYMENT_TYPE_NAME": "Full-time (> 32 hours)",
  "REMOTE_TYPE_NAME": "",
  "LOT_V7_OCCUPATION_NAME": "Hunter / Trapper",
  "LOT_V7_SPECIALIZED_OCCUPATION_NAME": "Hunter / Trapper",
  "ISCED_LEVELS_NAME": "No educatio listed",
  "NAICS2_NAME": "Manufacturing",
  "NACE_REVISION2_1_NAME": "",
  "SALARY_TO": "",
  "SALARY_FROM": "",
  "ORIGINAL_PAY_PERIOD": "",
  "LAA_COUNTRY_NAME": "Thailand",
  "LAA_METRO_NAME": "",
  "LAA_ADMIN_AREA_1_NAME": "",
  "LAA_ADMIN_AREA_2_NAME": ""
}

In [27]:
import functions.core.processing  as processing
json_output = processing.row_to_json_by_id(
    post_w_jd_df, 
    "001cd5b6369c02e10f95bbb75e18861b0b0a31cc",
    id_col="ID",
    exclude_cols=[
        "URL"
    ]
)
print(json_output)

{
  "ID": "001cd5b6369c02e10f95bbb75e18861b0b0a31cc",
  "BODY": "Dir-Food & Beverage-A 4.0 4.0 out of 5 stars ตะกั่วป่า, พังงา Additional Information Job Number 25121040 Job Category Food and Beverage & Culinary Location Khao Lak Marriott Beach Resort & Spa, 1/111 Moo 2, Takua Pa District, Phang Nga, Phang Nga, Thailand, 82190 Schedule Full Time Located Remotely? N Position Type Management En Marriott International, nos comprometemos a ofrecer igualdad de oportunidades, a hacer que todos se sientan bienvenidos y a facilitar el acceso a oportunidades laborales. Promovemos activamente un entorno en el que se valora y celebra la diversidad de orígenes de nuestros asociados. Nuestra gran fortaleza yace en la exquisita fusión de culturas, talentos y experiencias de nuestros asociados. Nos comprometemos a no discriminar por motivos de discapacidad, condición de veterano u otras características protegidas por la legislación vigente. Marriott Hotels se esfuerza por mejorar el arte de la hospitalidad, innovando siempre que puede mientras mantiene el confort de lo familiar en todo el mundo. Como anfitrión de Marriott Hotels, nos ayudarás a mantener la promesa de “Una experiencia hotelera maravillosa, siempre” con un servicio cuidado y sincero, que se adelanta a las necesidades de los huéspedes, para así mejorar este legado vivo. Con un nombre que es sinónimo de hospitalidad en todo el mundo, nos enorgullece invitarte a consultar las oportunidades de empleo de Marriott Hotels. Al unirte a Marriott Hotels, te unes a una cartera de marcas con Marriott International. Estarás donde puedes llevar a cabo tu mejor trabajo, comenzarás a cumplir tu propósito, formarás parte de un increíble equipo mundial y te convertirás en tu mejor versión. JW Marriott forma parte de la cartera de lujo de Marriott International y se compone de más de 100 hermosos hoteles en ciudades destacadas y ubicaciones de resorts privilegiadas en todo el mundo. JW cree que los empleados son lo primero, porque, si tú eres feliz, los huéspedes también lo serán. Los empleados de JW Marriott son confiados, innovadores, genuinos, intuitivos y llevan adelante el legado de la marca y del fundador de la empresa, J. Willard Marriott. Nuestros hoteles ofrecen una experiencia laboral inigualable, donde formarás parte de una comunidad y disfrutarás de verdadera camaradería con un grupo de colegas muy variado. JW crea oportunidades de capacitación, desarrollo, reconocimiento y, lo más importante, un lugar donde puedes seguir tu pasión en un ambiente de lujo enfocado en el bienestar holístico. El trato excepcional a los huéspedes empieza con el modo en que cuidamos a nuestros empleados. Este es el The JW Treatment™. Al unirte a JW Marriott, te unes a una cartera de marcas con Marriott International. Estarás donde puedes llevar a cabo tu mejor trabajo, comenzarás a cumplir tu propósito, formarás parte de un increíble equipo mundial y te convertirás en tu mejor versión.",
  "TITLE_RAW": "Dir-Food & Beverage-A",
  "TITLE_NAME": "Directors of Food and Beverage",
  "POSTED": "2025-07-25",
  "EXPIRED": "2025-09-16",
  "COMPANY_NAME": "Marriott International",
  "COMPANY_RAW": "Marriott International, Inc",
  "COMPANY_IS_STAFFING": "False",
  "EMPLOYMENT_TYPE_NAME": "Full-time (> 32 hours)",
  "REMOTE_TYPE_NAME": "",
  "LOT_V7_OCCUPATION_NAME": "Procurement / Sourcing Manager",
  "LOT_V7_SPECIALIZED_OCCUPATION_NAME": "Purchasing Manager",
  "ISCED_LEVELS_NAME": "No educatio listed",
  "NAICS2_NAME": "Accommodation and Food Services",
  "NACE_REVISION2_1_NAME": "",
  "SALARY_TO": "",
  "SALARY_FROM": "",
  "ORIGINAL_PAY_PERIOD": "",
  "LAA_COUNTRY_NAME": "Thailand",
  "LAA_METRO_NAME": "",
  "LAA_ADMIN_AREA_1_NAME": "",
  "LAA_ADMIN_AREA_2_NAME": ""
}